.text-title {
	font-family: 'Amiri', serif;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.text-dark {
	color: var(--mainDark);
	text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.25), 7px 4px 0px rgba(0, 0, 0, 0.15);
	font-size: 2em;
}
.text-shadow {
	text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.17), 6px 3px 0px rgba(0, 0, 0, 0.15);
}

.text-bright {
	color: var(--lightBlue);
}
