:root {
	--mainBlue: #2a2a72;
	--lightBlue: #009ffd;
	--navBlue: #42baff;

	--mainWhite: #f3f3f3;

	--lightDark: #1e1e1f;
	--mainDark: #232528;
	--navDark: #252728;

	--mainYellow: #ffa400;
	--lightYellow: #e6a734;

	--mainOrange: #ff6100;
}
